body{
    background: url(lap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Hind', sans-serif;
    margin: 2px;
}
h3{
    text-align: center;
    font-size: 25px;
    font-family: 'Hind', sans-serif;
    margin: 2px;
}
.word{
    text-align: center;
    font-size:20px;
    /* font-family: 'Hind', sans-serif; */
    font-weight: 700;
}
.hms{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    margin: 0px;
}
.in_data{
    
    height: 2.3rem;;
    width: 20%;
    margin: 2px;
    border-radius: 5px;
    /* background-color: transparent; */
    border-bottom: 1px whitesmoke;
    /* border-color: 2px papayawhip; */
}
.button{
    justify-content: center;
    margin: 0% 50% 0% 50%;
    height: 30px;
    width: 100px;
    background-color: skyblue;
    border-radius: 5px;
}
.button:hover{
    background-color: rgb(0, 140, 255);
    transition: 0.3s;
}
.demo{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
}